@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kumbh+Sans:wght@700&display=swap');


:root{
 --Orange: hsl(26, 100%, 55%);
 --Pale-orange: hsl(25, 100%, 94%);


--Very-vark-blue: hsl(220, 13%, 13%);
--Dark-grayish-blue: hsl(219, 9%, 45%);
--Grayish-blue: hsl(220, 14%, 75%);
--Light-grayish-blue: hsl(223, 64%, 98%);
--White: hsl(0, 0%, 100%);
/* (with 75% opacity for lightbox background) */
--Black : hsl(0, 0%, 0%)
}


body{
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: Kumbh sans;
    font-size:16px;
    width:100%;
    height: 100%;
    
    
}

main{
    display: flex;
    /* justify-content: space-between; */
}

.header{
    display: flex;
    justify-content: space-between;
    width: 77%;
    height: 100px;
    background-color: #fff;
    margin: auto;
    align-items: center;
    border-bottom: 1px solid var(--Grayish-blue);
    position: relative;
    
}


.img__logo{
    min-width: max-content;
    
   
}

.nav{
    display: flex;
   
    
}

.logo{
    background-image: url(../images/logo.svg);
    width: 133px;
    height:23px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% auto;
    align-self: center;
    margin-top: -5px;
}


.menu__list{
    /* background-color: red; */
    display: flex;
    margin-left: 52px;
}

.profile{
    display: flex;
    
    
}



.menu__list{
    
    list-style: none;
    
}

.menu__list li:first-child, li:nth-child(2), li:nth-child(3), li:nth-child(4){
    margin-right: 28px;
    
}



.menu__list a{
   
    color: var(--Dark-grayish-blue);
    text-decoration: none;
    padding-bottom: 16px;
}


.menu__list a:hover{
    transition: all 0.2s ease-in-out;
    color: var(--Very-vark-blue);
    border-bottom: 4px solid var(--Orange);
   
}





.profile{
   
    width: 114px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
    
}
.profile__Cart-icon{
    cursor: pointer;
   color: #69707D;
   position: relative;
}

.profile__Cart-icon svg:hover{
    color: var(--Very-vark-blue);
    
}
.total__carro{
    display: none;
position: absolute;
right: -5px;
top: -5px;
color: #fff;
width: 20px;
height: 15px;
background-color: var(--Orange);
border-radius: 50%;
text-align: center;
font-size: 12px;
cursor: pointer;
}

.profile__user-icon{
    background-image: url(../images/image-avatar.png);
    width: 47px;
    height: 47px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    transition: .1s ease all;
    cursor: pointer;
    
} 

.profile__user-icon:hover{
    box-shadow:  0px 0px 0px 2px var(--Orange);
   
}



.cart__content{
    background-color: var(--Light-grayish-blue);
    width: 345px;
    height: 0px;
    position: absolute;
    right: -70px;
    top: 70px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 6px 28px -1px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 6px 28px -1px rgba(0,0,0,0.41);
    box-shadow: 0px 6px 28px -1px rgba(0,0,0,0.41);
    transition: .3s ease-in-out;
     overflow:hidden; 
    /* opacity: 0;  */
    /* display: none;  */
    
}



/* show cart */
.cart__content-active{
    display: block;
    height: 250px;
    overflow: hidden;
    opacity: 1; 
}

.cart__content h3{
    padding-left: 25px;
    /* margin-top: 7px; */
    font-size: 16px;
    position: relative;
    top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--Grayish-blue);
    padding-bottom: 15px;
}
.empty{
    
    margin-top: 25px;
    text-align: center;
    line-height: 175px;
    font-weight: 700;
    color: var(--Dark-grayish-blue);
    
}

.card__content-img{
    background-image: url(../images/image-product-1-thumbnail.jpg);
    width: 47px;
    height: 47px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 5px;
    background-size: 100% auto;
   
}

.card__content-full{
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 345px;
    height:100px;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 50px;
    display: none;

}


.total{
    color: #000;
    font-weight: bold;
    margin-left: 10px;
}
.card__content-full p{
    line-height: 25px;
    color: var(--Dark-grayish-blue);
}

.card__content-full svg{
    color: #C3CAD9;
    cursor: pointer;
}
.card__content-full svg:hover{
    color: var(--Orange)
}

.checkout{
    position: absolute;
    width: 90%;
    height: 50px;
    right: 5%;
    bottom: -70px;
    background-color: var(--Orange);
    border: none;
    border-radius: 10px;
    color: azure;
}
.checkout:hover{
    transition: .1s ease all;
    opacity: 0.8;
    
}
.checkout:active{
    transform: scale(.9);
}






.galeria{
    margin-top: 50px;
    display: flex;
    width: 420px;
    height: auto;
    flex-direction: column;
    margin-left: 15vw;
    min-width: 350px;
}

.galeria img{
    cursor: pointer;
}


.imagen__activa-contenedor img{
    border-radius: 18px;
    width: 100%;
}
.miniaturas{
    display: flex;
    justify-content: space-between;
   width: 100%;
   height: auto;
   margin-top: 20px;
   
   
}



.miniaturas__activo{
    box-shadow:  0px 0px 0px 2px var(--Orange);
    transform: translateY(-3px);
    opacity: .7;
}

.miniaturas img{
    width: 20%;
    height: auto;
    border-radius: 10px;
    transition: all .2s ease-out;
    
    
}

.miniaturas img:hover{
    transform: translateY(-3px);
    box-shadow:  0px 0px 0px 2px var(--Orange);
    opacity: .7;
}

.modal{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    /* background: rgba(80, 142, 212, 0.8); */
    z-index: 15;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    height: 0;
    /* overflow: hidden; */
    transform: scale(0);
    
}

.background__modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: -1;
}

.modal__activo{
    opacity: 1;
    height: 100%;
    transform: scale(1);
    
}

.modal__imagen-activa{
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% auto;
    
}



.galeria__activa{
    margin-top: 60px;
    display: flex;
    width: 500px;
    height: 100%;
    margin-left: 0;
}

.modal__imagen-activa{
    position: relative;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border: none;
    width: 500px;
}


.modal__imagen-activa button{
    border-style: none;
    cursor: pointer;
    z-index: 25;
    
}


.btn__cerrar{
    position: absolute;
    cursor: pointer;
    right: -5px;
    top: -35px;
    transform: scale(1.2);
    transition: all .3s ease-out;
    color:#fff;
}

.btn__cerrar:hover{
    transform: scale(1.4);
    color: var(--Orange);
}

.boton__galeria{
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.boton__galeria:hover{
    color: var(--Orange);
}
.btn__anterior{

left: -25px;
}
.btn__siguiente{
  
    right: -25px;
}



.miniaturas__activa{
    justify-content: space-evenly;
}

.miniaturas__activa img{
    width: 15%;
    height: auto;
}

.content{
   
    width: 430px;
    margin-left: 8vw;
    margin-top: 50px;
    height: auto;
    font-family: Kumbh sans;
    /* display: flex;
    flex-direction: column; */
    
}

.content h1{
    font-size: .9rem;
    color: var(--Orange);
    margin-top: 45px;
    
}

.content h2{
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 20px;
   
}

.content h2{
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 20px;
}

.content p{
    margin-top: 30px;
    color: var(--Dark-grayish-blue);
    font-size: 1.05rem;
    line-height: 22px;
    font-family: 'Josefin Sans', sans-serif;
}
.now{
    margin-top: 25px;
    font-size: 1.7rem;
    font-weight: bold;
    
   
}

.now__price{
    position: relative;
    display: flex;
    align-items: center;
    
}

.now__price .span1{
    font-size: 1rem;
    color: var(--Orange);
    margin-left: 25px;
}

.before{
    font-size: 1rem;
    color: var(--Dark-grayish-blue);
    text-decoration:line-through;
    margin-top: 10px;
}
.add{
    margin-top: 60px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    
   
}

.cantidad {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 170px;
  margin-left: -15px;
  
}

.cantidad button{
    cursor: pointer;
    transition: all 0.2s ease-out;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.cantidad button:active{
    transform: scale(1.3);
}

.btn__añadir{
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: var(--Orange);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.btn__añadir svg{
    margin-right: 15px;
    
}

.btn__añadir:hover{
    opacity: .7;
}

.btn__añadir:active{
   transform: scale(1.1);
}

aside{
    display: none; 
    
}


.icon__menu{
    display: none;
}


@media screen and (max-width: 912px){
    
    main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .icon__menu{
        display: flex;
        align-items: center;
        transform: scale(1.1);
        
    }
    

    .logo{
        margin-left: 20px;
    }
    
    .menu{
        display: none;
    }

    .header{
        width: 100%;
        height: 90px;
        border-bottom: none;
        justify-content: space-around;
       
        z-index: 16;
    }

    .galeria1{
        display: none;
    }
    .modal{
        display: flex;
        position: relative;
        width: 100%;
        justify-content: center;
        /* align-items: center; */
        background: transparent;
        opacity: 1;
        height: 100%;
        overflow: hidden;
        transform: scale(1);
        margin-top: -60px;
    }
    .background__modal{
        background: transparent
        
    }
    .btn__cerrar{
        display: none;
    }
    .imagen__activa-contenedor{
        border-radius: 0px;
        width: 100%;
       
        
    }
    .imagen__activa2{
       width: 100%;
       height: 380px;
       margin-top: 0;
    }
    .btn__anterior{

        left: 15px;
        }
        .btn__siguiente{
          
            right: 15px;
        }
    .miniaturas{
        display: none;
    }

    
    .cart__content{

       top: 50%;
       left: 50%;
       right: 0;
       transform: translate(-82%, 20%);
        
    }
    
    .content{
        margin: auto;
        /* align-content: flex-end; */
        width: 90%;
        
    }
    
    .now{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .add{
        display: block;
    }
    .cantidad{
        width: 90%;
        margin: auto;
        justify-content:space-between;
        margin-top: -30px;
        margin-bottom: 30px;
    }
    .add__to-cart{
        width: 100%;
        display: flex;
        justify-content:center;
    }
    .btn__añadir{
        width: 100%;
    }

    aside{
        display: block;
        position: fixed;
        top: 0;
        left:0 ;
        width: 60vw;
        height: 100%;
        background: #fff;
        z-index:100;
        /* display: none; */
        transform: translateX(-100%);
        transition: all 0.3s ease-out;
        opacity: 0;
    }

    .aside__show{
        transform: translateX(0);
        opacity: 1;
    }
    .aside__content{
        margin-left: 25px;
    }

    .background{
        position:fixed;
        width: 50vw;
        height: 100%;
        background-color: rgba(0,0,0,0.8);
        top: 0;
        right: 0%;
        opacity: 0;
        transform: translateX(-100%);
        transition: all 0.3s ease-out;
    }
    .background__show{
        transform: translateX(100%);
        opacity: 1;
    }
    
    aside svg{
       margin-top: 20px;
       color: var(--Dark-grayish-blue);
    }
    
    .menu2__ul{
        margin-top: 50px;
        list-style: none;
    }
    aside a{
        text-decoration: none;
        color: var(--Very-vark-blue);
    }
    aside li{
        margin-bottom: 25px;
    }
}